@{
    Layout = "~/Views/Shared/_ColumnsOneFull.cshtml";
}
<div class="home-page">
@Html.Widget("home_page_top")
    <center>
        <img src="~/Themes/X20/Content/theme/images/newBACKGROUND.jpg" style="width:100%; margin: auto;" />
    </center>
@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
@Html.Widget("home_page_bottom")
</div>